# ignore large input files
./input/raw_counts_pbta_subset.rds

# ignore large output files
./output/ccp_output/*.pdf
./output/ccp_output/*ccp.rds
**/output/optimal_clustering/*.rds
**/output/optimal_clustering/*.pdf
input/raw_counts_pbta_subset.rds
output/ccp_output/*consensus.pdf
input/pan_cancer_splicing_SE.gene.tsv
